*{
  padding: 0;
  margin: 0;

}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.table{
  border-collapse: collapse;
  padding: 20px;
}
.row:hover{
  background-color: rgb(47, 47, 38);
}
td, th{

  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;

}
#rowUp{
  background-color: rgb(14, 5, 5);
}
.tableNbutton{
  text-align: center;
}
.send{
  margin-top: 10px;
}